/venv/
model_engine/face_db/
model_engine/.env
model_engine/*.jpg
model_engine/*.webp
model_engine/*.png
model_engine/*.jpeg
model_engine/*.mp4
model_engine/*.log
model_engine/*.npz
app/temp/
app/temp_identify/
